header {
    background-color: #000000;
}

header P {
    text-align: center;
    color: aliceblue;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(121, 1, 121);
    background-color: rgb(247, 247, 121);
}

 nav a {
    background-color: aqua;
    color: rgb(30, 27, 82);
    border: 8px inset rgb(51, 86, 241);
    padding: 10px;
    border-radius:52px ;
    margin: 10px;
    text-decoration: none;
    font-family: fantasy;
    box-shadow: 5px 5px 0 0 rgb(102, 102, 255);
}

.a {
    border: 5px dashed blue;
    border-radius: 20px;
    background-color: rgb(255, 255, 193);
    text-align: left;
    margin: 10px;
    padding: 25px;
}

footer {
    background-color: black;
    color: azure;
}

nav a:hover {
    background-color: rgb(127, 214, 255);
    border: 8px inset rgb(81, 111, 243);
    box-shadow: 0 0 5px 5px rgb(74, 213, 255);
    transition: all 0.15s linear;
}

nav a:focus {
    border: 8px dashed rgb(81, 111, 243); ;
    box-shadow: 0 0 5px 5px rgb(18, 200, 255);
}

footer p {
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-align: left;
}

footer img {
    width: 150px;
}


.b {
    background-color: rgb(97, 101, 105);
    color: aliceblue;
    padding: 50px;
    margin: 0px;
}

.c {
    border: 5px dashed rgb(34, 34, 34);
    border-radius: 20px;
    background-color: rgb(91, 94, 97);
    text-align: left;
    margin: 10px;
    color: aliceblue;
    padding: 10px;
}

.GoToPlay {
    background-color: blueviolet;
    height: 620px;
    width: 150px;
    color: aliceblue;
    position: fixed;
    bottom: 50px;
    right: 12px;
    border-radius: 10px;
    border: 5px solid rgb(88, 29, 143);
    box-shadow: 0 0 10px 5px rgb(153, 53, 247);
    opacity: 0.5;
}


h6 i:hover {
    transition: all 0.5s linear;
    font-size: 30px;
    color: rgb(155, 255, 255);
    font-family:serif;
}

.GoToPlay:hover {
    width: 300px;
    transition: all 1s ease-out;
    opacity: 1;
    box-shadow: 0 0 20px 15px rgb(153, 53, 247);
}

.GoToPlay img:hover {
    width: 150px;
    transition: all 0.5s linear;
    border: 5px solid purple;
}

.Nooo {
    color: red;
}

.music {
    text-align: center;
    font-size: 50px;
    text-shadow: 10px 10px 10px 10px rgb(127, 118, 255);
}
